# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8e6419afdf7036401e8ca6646e5b2ace69e8a3c4c69e4e03972f48b4ce91b5a74ff8d637ac73f5c389d5d3036fbc172e33ef00e2f2d8732f4a7d983766c756a0

test:
  secret_key_base: 0582a0ffc16a7a42dde8757a72c672bfad4da2a8e528c3353165ee52df3112ce9ccf7bb473abb735ab3e17a8cc88ac88e5b2e5a6ec4e39be8a70454a1412b192

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
